//
    Created by eleonora on 3/24/17.

html
    head
        title CV
        link(href='styles.css', rel='stylesheet')
    body
        div.header Eleonora Kolodinskaya
        div.content
            div.block
                div.block__header General Information
                div.block__content
                    p email: eleonora.kolodinskaya@gmail.com
                    p phone: +375292711664
                img.block__image(src="https://scontent-frt3-1.cdninstagram.com/t51.2885-15/e35/17077097_657840431067902_2469461029600362496_n.jpg")
            div.block
                div.block__header Working Experience
                div.block__sub-header
                    div.block__commpany-name u6 sia
                    div.block__period 01.2017 - now
                div.block__content
                    p position: web-developer
                    p project: frizo
                    p.
                        responsibilities included:
                        development of beauty website;
                        bug fixing;
                        code review;
                    p environment: HTML5, CSS3, Bootstrap, SASS, ES6, Babel, ReactJS, Flux, Webpack, GIT
                div.block__sub-header
                    div.block__commpany-name specific-group software solutions
                    div.block__period 10.2015 - 10.2016
                div.block__content
                    p position: web-developer
                    p project: d:code:it
                    p.
                        development of html5 desktop app for banking;
                        bug fixing;
                    p environment: HTML5, CSS3, LESS, ES6, Babel, ReactJS, Flummox, Redux, Webpack, GIT
                div.block__content
                    p position: web-developer
                    p project: jagged peak
                    p.
                        building websites using custom cms;
                        bug fixing;
                    p environment: HTML, CSS, Bootstrap, Javascript, SVN
                div.block__sub-header
                    div.block__commpany-name exadel
                    div.block__period 03.2013 - 10.2015
                div.block__content
                    p position: web-developer
                    p project: abc
                    p.
                        responsibilities included:
                        cross-browser development for many abc websites;
                        bug fixing;
                    p environment: HTML5, CSS3, SASS, Javascript, PHP, GIT, SVN
                div.block__content
                    p position: web-developer
                    p project: forgerock
                    p.
                        responsibilities included:
                        cross-browser development;
                        bug fixing;
                        writing unit tests;
                        code review;
                    p environment: HTML5, CSS3, LESS, Backbone, Require.js, QUnit, SVN
                div.block__content
                    p position: web-developer
                    p project: productive edge
                    p.
                        responsibilities included:
                        cross-browser development;
                        bug fixing;
                    p environment: HTML5, CSS3, Javascript, SVN
            div.block
                    div.block__header Education
                    div.block__content
                        p Belarussian State Univercity (2011)
                        p Master's Degree in Physics and Mathematics
                div.block
                    div.block__header Languages
                    div.block__content
                        p Russian (Native)
                        p English (Advanced)

